/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>


&mt {
    hold-trigger-on-release;
    flavor = "tap-preferred";
    tapping-term-ms = <250>;
};

&lt { tapping-term-ms = <250>; };

/ {
    behaviors {
        new_behavior: new_behavior {
            compatible = "zmk,behavior-hold-tap";
            label = "NEW_BEHAVIOR";
            bindings = <&none>, <&none>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
            flavor = "tap-preferred";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        first {
            bindings = <
&kp GRAVE  &kp Q           &kp W           &kp E               &kp R             &kp T        &kp Y           &kp U             &kp I               &kp O           &kp P                   &kp BACKSPACE
&kp MINUS  &mt LEFT_WIN A  &mt LEFT_ALT S  &mt LEFT_CONTROL D  &mt LEFT_SHIFT F  &mt INSERT G &mt INSERT H    &mt LEFT_SHIFT J  &mt LEFT_CONTROL K  &mt LEFT_ALT L  &mt LEFT_WIN SEMICOLON  &kp SQT
&kp EQUAL  &kp Z           &kp X           &kp C               &kp V             &kp B        &kp N           &kp M             &kp COMMA           &kp DOT         &kp SLASH               &kp BACKSLASH
                                           &kp ENTER           &mo 1             &kp SPACE    &kp LEFT_SHIFT  &mo 1             &kp LEFT_ALT
            >;
        };

        second {
            bindings = <
&kp ESCAPE  &trans        &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &trans    &kp F2    &kp F8          &kp F12       &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp DELETE
&kp TAB     &trans        &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &trans    &kp LEFT  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW   &trans             &trans
&trans      &kp NUMBER_0  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans    &trans    &trans          &trans        &trans            &trans             &trans
                                        &trans        &trans        &trans    &trans    &trans          &trans
            >;
        };
    };
};
